.episodeTable {
    width: 95%;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    padding: 5rem;
    margin: 2rem;
}

.episodeTable td,
.episodeTable th {
    border: 1px solid #ddd;
    padding: 8px;
}

.episodeTable tr:nth-child(even) {
    background-color: #f2f2f2;
}

.episodeTable tr:hover {
    background-color: #ddd;
}

.episodeTable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: rgb(147, 209, 245);
    color: white;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    font-size: large;
}

.pagination a.active {
    background-color: dodgerblue;
    color: white;
}

.pagination a:hover:not(.active) {
    background-color: dodgerblue;
}