$mainWhite: #fff;
$mainBlue: rgb(43, 7, 73);
$mainBlack: #000;
body {
    background: $mainWhite;
    color: $mainBlack;
    font-family: 'Open Sans Condensed', sans-serif;
    padding: 2px;
}

@media screen and (min-width: 768px) {
    .characters {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 10px;
        padding: 2px;
        margin-left: 2px;
    }
}

.characters:hover {
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.3)
}

.characters img {
    width: 50%;
    float: left;
    margin-right: 3%;
    margin-bottom: 1.5em;
}

.character-info {
    padding: 10px;
}